<table class="table">
    <tr>
      <th>
          Nome
        </th>
        <th>
            Curso
          </th>
          <th>
              Presenças
            </th>
         
    </tr>
    <tr *ngFor = " let aluno of alunos">
        <th>
          {{aluno.Nome}}
        </th>
        <th>
          {{aluno.Curso}}
        </th>
        <th>
          <button (click)="botaopresencas(aluno)"> Presenca {{aluno.qtdPresencas}}</button>
        </th>
        <th>
            <span 
            class="glyphicon glyphicon-remove" 
            (click)="botaoExcluir(aluno)"></span>
          
        </th>
        
      </tr>
  </table>

  
